body {
            background-color: #7ca375;
        }

        .logo {
            /* background-color: blue; */
        }

        .logo img {
            width: 90px;
            height: 96px;

        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        .right ul {
            display: flex;
            gap: 24px;
        }

        .right ul li {
            list-style: none;
            cursor: pointer;
        }

        .first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            gap: 18px;
            margin: 50px;
            font-family: sans-serif
        }

        .first span {
            font-size: 47px;
        }

        .first p {
            text-align: center;
            width: 74vw;
            font-size: 17px;
        }

        .btn {
            background: #eab391;
            padding: 10px 13px;
            margin: 4px 11px;
            border-radius: 23px;
            font-size: 14px;
            color: white;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }
        .btn a{
            text-decoration: none;
            color: white;
        }
        .green {
            background-color: #5a5450;
        }
        flex{
            /* display: flex; */
        }
        .small {
            font-size: 15px;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #3d5b37;
            padding: 10px 19px;
            margin: -38px 4px;
            border-radius: 25px;
        }
        .second {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 23px;
        }
        .item-lang {
            color: white;
            padding: 22px;
            text-align: center;
            font-size: 23px;
            padding: 4px;
            border-radius:23px;
            padding-bottom:8px;
        }
        .item {
            padding: 5px;
            background-color: #49635e;
            border-radius: 24px;
            text-align: center;
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 53px;
        }
        @media screen and (max-width:1145px)  {
            .grid{
                /* background-color: red ; */
            display: grid;
            grid-template-columns: 1fr;
            gap: 53px;
        } 
        }